
* {
  box-sizing:border-box;
}

body{
  text-align: center;
  padding:10px;
  margin:5px;
}

.left {
  background-color: #5499c7;
  padding:20px;
  float:left;
  width:30%;
  margin: 10px;
}

.left img{
  width: 100%;
  height: auto;
}

.mid {
  background-color: #f9e79f;
  padding:20px;
  float:left;
  width:30%;
  margin: 10px;
}

.mid img{
  width: 100%;
  height: auto;
}


.right {
  background-color: #ccd1d1;
  padding:20px;
  float:left;
  width:30%;
  margin: 10px;
}

.right img{
  width: 100%;
  height: auto;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}