body{
  margin:20px;
  padding-left:30px;
}

.container{
  border: 3px solid #ba68c8;
  padding:30px;
  margin:10px;
}

.purple-border textarea {
    border: 1px solid #ba68c8;
}
.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}

.row{
  margin:10px;
  #padding:5px;
}